@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.piloto-container { padding: 20px; }

.piloto-form {
  @include card;
  max-width: 900px;
  margin: auto;
}

.piloto-detalle { @include card; }

.piloto-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}